.planet-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.planet-image {
  width: 250px;
  height: 250px;
}

.planet-name {
  color: #f1f5f9;
  font-family: 'Roboto';
  font-size: 24px;
  margin-top: 20px;
}

.planet-description {
  color: #f1f5f9;
  font-family: 'Roboto';
  font-size: 16px;
  max-width: 500px;
  text-align: center;
}
