.planets-slider-container {
  background-image: url('https://assets.ccbp.in/frontend/react-js/planets-app/planets-bg-img.png');
  background-size: cover;
  min-height: 100vh;
  padding: 40px;
  text-align: center;
}

.heading {
  color: #f8fafc;
  font-family: 'Roboto';
  font-size: 36px;
  margin-bottom: 30px;
}